.content-container{
  margin-top: 8rem;
  .featured-title {
    font-size: 4rem;
    font-weight: 700;
  }
  .featured-description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}